@import '../../theme';
@import '../../base/mixins';

body {
    @media screen and (min-width: $mq-desktop) {
        .page__post {
            margin-right: 0;
        }
    }
    background-color: #ebecee;
}

article{
    font-size: 18px;
    line-height: 1.7em;
    border-radius: 0 0 2px 2px;
}

.page__content {
    overflow: hidden;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s,-webkit-box-shadow .25s;
    margin: 0;
    border-radius: 2px;
    background-color: #fff;
}

.post__cover {
    width: 100%;

    & > img {
        display: block;
        width: 100%;
    }
}

.post__info {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
}




.post__title {
    font-size: 1.59rem;
    color: $title-fc;
    font-weight: 400;
    line-height: 1;
    line-height: 1.2;
    margin: 0;
    padding: 0 16px 0 16px;
}

@media screen and (min-width: 600px) {
    .post__title{
            font-size: 2.5rem;
        }
}

.post__mark {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background-color: inherit;
    border-bottom: 1px solid hsla(0,0%,63%,.2);
    padding: 16px 24px;
    padding-right: 24px;
}

.mark__block {
    display: flex;
    align-items: center;
    margin-right: 15px;

    .mark__icon {
        font-size: 18px;
        margin-right: 5px;
    }

    .mark__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .mark__item {
        float: left;
        margin-right: 5px;

        & > span {
            vertical-align: middle;
        }

        & > a {
            @include link($main-color);
            color: $main-fc;
            vertical-align: middle;
        }

        &:not(:last-child)::after {
            display: inline-block;
            content: ',';
        }
    }
}



.post__content {
    padding: 0 16px 5rem 16px;
    @include post();
    .post-announce {
        margin: 2em 0;
    }

    .post__prevs {
        display: flex;
        width: 100%;
        font-size: 0;
        font-weight: bold;
        padding-top: 10px;
        border-top: 1px dashed #ddd;
    }

    .post__prev {
        flex: 1 0 0;
        overflow: hidden;

        & > a {
            font-size: $main-fs;
            display: inline-block;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: $main-fc;
            text-decoration: none;
            cursor: pointer;
            transition: color $transition;
            text-decoration: none;

            &.actived {
                color: $main-color--hover;
            }

            &:hover,
            &:active {
                color: $main-color--hover;
            }

            & > i {
                font-size: 16px;
            }
        }

        &--right {
            text-align: right;
        }
    }
}

@media screen and (max-width: 650px){
    .article_content{
        padding: 0;
    }        
}
