$header-height: 350px   !default;
$nav-height: 60px       !default;

body {
    @media screen and (max-width: $mq-mobile) {
        .page__header--small {
            .nav__list {
                background: $main-color;
                background: linear-gradient(to right, $main-color 35%, $main-color--hover 100%);
            }
        }

        .page__menu-btn {
            display: inline-block;
        }

        .page__navbar {
            height: $nav-height;
        }

        .page__nav {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            transform-origin: top;
            transform: translateY(-20%) scaleY(.8);
            opacity: 0;
            z-index: -1;
            display: none;

            &--open {
                transform: translateY(0) scaleY(1);
                opacity: 1;
            }

            .nav__list {
                border-top: 1px solid rgba(255, 255, 255, 0.1);
                padding: 0 $pad;
            }

            .nav__item {
                float: none;
                text-align: right;
                margin-top: 10px;

                & > a {
                    height: 40px;
                    line-height: 40px;
                }
            }
        }

        .page__logo {
            margin: 0;
        }
    }
}

.page__header {
    display: block;
    color: #fff;
    background-color: transparent;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;

    &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(64, 84, 90, 0.6);
    }

    &--small {
        .page__navbar {
            height: $nav-height;
            background: $main-color;
        }

        .page__logo {
            margin: 0;
            color: #ffffff;
        }

        .page__nav .nav__item a:hover {
            color: #ccc;
        }
    }
}

.page__small-header {
    height: $nav-height - 20px;
}

.page__navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    height: $nav-height + $pad * 2;
    transition: height $transition;
    z-index: $z-index--top;

    .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.page__logo {
    display: block;
    height: $nav-height;
    line-height: $nav-height;
    margin: $pad 0;
    text-align: center;
    transition: margin $transition;
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
    text-decoration: none;
    padding: 0 15px;

    & > img {
        display: block;
        height: 100%;
    }
}

.page__nav {
    transition: transform $transition, opacity $transition;

    .nav__list {
        margin: 0;
        padding: 0;
        border-color: transparent;
        transition: border-color $transition;
    }

    .nav__item {
        float: left;
        list-style: none;

        & > a {
            display: block;
            height: $nav-height;
            line-height: $nav-height;
            padding: 0 $pad;
            @include link($main-color);
            color: #fff;
            font-size: 1.1rem;
        }
    }
}

.page__info {
    position: absolute;
    left: 0;
    top: calc(50% + #{($nav-height + $pad * 2) / 2});
    transform: translateY(-50%);
    display: block;
    width: 100%;
    text-align: center;

    .info__title {
        margin: 0;
        font-size: 30px;
        font-weight: 700;
        line-height: 1.1;
        margin-bottom: 40px;
    }

@media screen and(min-width: 650px){
    .info__title{
            font-size: 70px;
            line-height: 87px;
            font-weight: 100;
        }
    }

    .info__hr {
        margin: 20px auto;
        height: 2px;
        width: 160px;
        border: 0;
        color: $main-color;
        background: $main-color;
        background: linear-gradient(to right, $main-color 35%, $main-color--hover 100%);
    }

    .info__desc {
        font-size: $main-fs;
    }
}

.page__menu-btn {
    display: none;
    border: 0;
    background: none;
    outline: none;
    appearance: none;
    cursor: pointer;
    padding: 10px;
    color: #fff;
    font-size: 28px;

    & > i {
        display: block;
    }
}

header .fh5co-learn-more {
    position: absolute;
    bottom: -25px;
    left: 50%;
    z-index: 12;
    text-align: center;
}

header .fh5co-learn-more a .arrow {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background: #FA5555;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    transform: rotate(180deg);
    line-height: 40px;
}
header .fh5co-learn-more a .arrow i{
    font-weight: bold;
    color: #ffffff;
}
header .fh5co-learn-more a .text {
    display: block;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
}

